<ion-header>
  <ion-navbar (click)="dismiss()" color="primary">
    <ion-title>
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div style="width:100%; height:160px; overflow:hidden">
    <img width="100%" src="{{markerInfo.data.img}}" alt="marker Image">
  </div>
  <h3 text-center>{{markerInfo.data.name}}</h3>
 
  <h4>{{markerInfo.data.currentDeal.name}}</h4>
  <span><button ion-button small outline>Book Now</button></span>

  <h3>{{markerInfo.data.currentDeal.dealDesc}}</h3>
  <span float-right>{{markerInfo.data.currentDeal.numberTaken}}/{{markerInfo.data.currentDeal.numberAvailable}} Deals Taken</span>
  
  <p>Tuesday 25th March 2018<br>
  Between 9:00 - 17:00</p>
  <p class="greyText">{{markerInfo.data.currentDeal.conditions}}</p>
  <div class="blue-underline">Read full conditions</div>

  <div class="imagePlaceholder"></div>
  
  <p>{{markerInfo.data.desc}}</p>
  
  <!-- <form *ngIf="markerInfo.data.type === 'entertainment'">
    <ion-list >
        <ion-item >
            <ion-label>Movies</ion-label>
            <ion-select  
              multiple="false" 
              cancelText="Cancel" 
              okText="Select!" 
              (ionChange)="showTimes()">
              <ion-option value="bacon" >Fight Club</ion-option>
              <ion-option value="olives">Butterfly Effect</ion-option>
              <ion-option value="xcheese" >The Matrix</ion-option>
              <ion-option value="peppers">Seven</ion-option>
              
            </ion-select>
        </ion-item>
        <ion-item *ngIf="showT">
            <ion-label>Times</ion-label>
            <ion-select  
              multiple="false" 
              cancelText="Cancel" 
              okText="Select!" 
              >
              <ion-option value="bacon" >11:00</ion-option>
              <ion-option value="olives">15:30</ion-option>
              <ion-option value="xcheese" >19:30</ion-option>
              <ion-option value="peppers">20:30</ion-option>
              
            </ion-select>
        </ion-item>
    </ion-list>
  </form> -->

  <form  [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item >
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MMM/DD/YYYY" formControlName="date"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="markerInfo.type === 'restaurant'">
        <ion-label>Time</ion-label>
        <ion-datetime displayFormat="HH:mm" (ngChange)="acceptDate()" pickerFormat="HH:mm"formControlName="time"></ion-datetime>
      </ion-item>
    </ion-list> 
  </form>
  <!-- <button ion-button color="primary" full (click)="showAlert()">
      <span *ngIf="markerInfo.type === 'restaurant'" >
        Menu
      </span>
      <span *ngIf="markerInfo.type === 'pub'">
        More Info
      </span>
      <span *ngIf="markerInfo.type === 'entertainment'">
        Show Times
      </span>  
    </button>-->

    <button ion-button color="primary" full (disabled)="!allowBooking" (click)="reserve()" type="submit">Nab a deal now!</button> 

</ion-content>
