<ion-header>
  <ion-navbar color='primary'>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 *ngIf="true" text-center>Profile</h3>
  <h3 *ngIf="false" text-center>Edit Your Details</h3>
  <ion-grid>
      <ion-row>
          <ion-col col-3>
            
              <button *ngIf="editSave" (click)="toggleEditMode()" ion-button clear outline>Edit</button>
              <button *ngIf="!editSave" (click)="toggleEditMode()" ion-button clear outline>Save</button>
              
          </ion-col>
          <ion-col col-5> </ion-col>
          <ion-col col-4 class="profile-pic-container"> 
            
          </ion-col>

        </ion-row>
  </ion-grid>
  
  <div style="margin-top:10px;"></div>
  <ion-list>
    
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            
              
              <ion-item>
                  <ion-label floating for="name" >Name</ion-label>
                <ion-input type="text" formControlName="name" [disabled]="!edit"></ion-input>
              </ion-item>
            
              <ion-item>
                  <ion-label floating for="area">Area</ion-label>
                <ion-input type="text" formControlName="area" [disabled]="!edit"></ion-input>
              </ion-item>
        
              <ion-item>
                  <ion-label floating for="email" >Email</ion-label>
                <ion-input type="text" formControlName="email" [disabled]="!edit"></ion-input>
              </ion-item>
            
              <ion-item>
                  <ion-label floating for="phone" >Phone Number</ion-label>
                <ion-input type="text" formControlName="phone" [disabled]="!edit"></ion-input>
              </ion-item>
</form>
          
            </ion-list>
          
  
</ion-content>
