page-contact {
    .profile-pic-container{
        background: grey;
        height:90px;
        max-height:90px;
        width:100%;
    }
    .change-profile-pic{
        
        width:100%;
        background:#aaa;
    }

}
