<ion-header>
  <ion-navbar color='primary'>
      <ion-buttons end>
          <button ion-button icon-only (click)="cancel()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 *ngIf="true" text-center>Profile</h3>
  <h3 *ngIf="false" text-center>Edit Your Details</h3>
  <ion-grid>
      <ion-row>
          <ion-col col-3>
            
              <button 
                  *ngIf="editSave" 
                  (click)="toggleEditMode()" 
                  ion-button 
                  class="editButton" 
                  color="primary" 
                  outline>Edit
              </button>
              <button 
                  *ngIf="!editSave" 
                  (click)="saveUpdate()" 
                  ion-button
                  color="secondary" 
                  outline
                  class="editButton">Save
              </button>
              <button 
                  *ngIf="!editSave" 
                  (click)="uploadPhoto()" 
                  ion-button
                  color="secondary" 
                  outline
                  class="editButton">Upload photo
              </button>
              
          </ion-col>
          <ion-col col-3> </ion-col>
          <ion-col col-6 class="profile-pic-container"> 
            <img src="/assets/imgs/joker.png" alt="">
            
          </ion-col>

        </ion-row>
  </ion-grid>
  
  <div style="margin-top:10px;"></div>
  <ion-list>
    
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            
              
              <ion-item>
                <ion-label floating for="name" >Name</ion-label>
                <ion-input 
                  [disabled]="!isEditing ? '' : null" 
                  type="text" 
                  formControlName="name">
                </ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label floating for="area">Area</ion-label>
                <ion-input 
                  [disabled]="!isEditing ? '' : null"
                  type="text" 
                  formControlName="area">
              </ion-input>
              </ion-item>
        
              <ion-item>
                <ion-label floating for="email" >Email</ion-label>
                <ion-input 
                  [disabled]="true ? '' : null" 
                  type="text" 
                  formControlName="email"
                  (click)="editEmail()" ></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label floating for="phone" >Phone Number</ion-label>
                <ion-input 
                [disabled]="!isEditing ? '' : null" 
                type="text" 
                formControlName="phone"></ion-input>
              </ion-item>
</form>
          
            </ion-list>
            <button ion-button full (click)="logout()">Logout</button>
          
  
</ion-content>
