<ion-header>
  <ion-navbar color='primary'>
    <ion-buttons>
      <button  float-left ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
  
<ion-toolbar>
    
      <span float-left style="background:#ccc; padding:5px; width:12%; padding:4px; height:32px;">
          <ion-icon name="search" style="margin-top:4px;margin-left:7px;"></ion-icon>
      </span>

      

      
      
      <!-- <button float-right ion-button color="primary">
          <ion-icon name="search"></ion-icon>
      </button> -->
      
      <input 
        float-left placeholder="search" 
        autocorrect="off" 
        autocapitalize="off" 
        spellcheck="off" 
        type="text" 
        class="form-control" 
        #search
        value="" 
        [formControl]="searchControl"
        style='border:none; width:56%; height: 28px;padding-left:15px; height:32px' />

      <span float-right style=" padding:0px; padding-bottom: 5px;margin: 5px;margin-left:2px; margin-right:2px;width: 10%; max-width:50px;height:32px;">
        <button (click)="openFilterModal()" ion-button style="width:100%; margin-left:2px; 
        margin-right:2px; height:100%; margin:0px;margin-top:-5px; ">
        <ion-icon name="funnel"></ion-icon></button>  
      </span>

      <span float-right style=" padding:0px; padding-bottom: 
      5px;margin: 5px;margin-left:2px; margin-right:2px;width: 10%; max-width:50px;height:32px;">
        <button (click)="getCurrentPosition(search)"ion-button style="width:100%; margin-left:2px; 
        margin-right:2px; height:100%; margin:0px;margin-top:-5px; ">
        <ion-icon name="pin"></ion-icon></button>  
      </span>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div #map id="map"></div> -->
  <agm-map 
    [latitude]="lat3" 
    [longitude]="long3" id="map" 
    [zoom]="12" 
    zoomControl="false" 
    (mapClick)="showMapClick($event)"
    [styles]="styles"
    [streetViewControl]="false"
    [zoomControl]="false">

    <agm-marker 
      [latitude]="lat3" 
      [longitude]="long3" 
      [iconUrl]="icon" 
      >
    </agm-marker>
    <agm-marker 
      *ngFor="let item of rests; let i = index" 
      [latitude]="item.lat" 
      [longitude]="item.long">
    
      <!-- <agm-info-window>
        <h3>{{item.desc}}</h3>
        <button ion-button small color="primary" (click)="openModal()">Show</button>
      </agm-info-window>  -->

      <agm-snazzy-info-window  
      *ngFor="let item of rests" 
        [isOpen] = "false"
        [showCloseButton] = "false"
        [maxWidth] = "340"
        [backgroundColor]="red"
        [content] = "template({title: 'Complex Styles'})"
        
        padding="0px"
        width="300px"
        
      >
        <ng-template>
          <ion-grid>
            <ion-row style="width:220px">
              <ion-col col-12>
                <div style="background:grey; width:100%; height: 80px;"></div>
                <div text-center class="info-name">Simons Slosh</div> 
              </ion-col>
            </ion-row>
            <ion-row style="width:220px">
              <div class="info-text">
                Early Bird Dinner & Starter for only $10.99
              </div>
            </ion-row>
                  <ion-row>
              <ion-col col-12>
                <button ion-button item-end float-right small full color="primary" 
                (click)="openModal(item)">Details</button>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </ng-template>
      </agm-snazzy-info-window>
    
  
    </agm-marker>
  </agm-map>
</ion-content>