<ion-header>
  <ion-navbar color='primary'>
    <ion-title>
      My Reservations
    </ion-title>
  </ion-navbar>
  <ion-toolbar>  
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label>Current</ion-label>
            <ion-checkbox [(ngModel)]="currentTab" (click)="showCurrent()"></ion-checkbox>
          </ion-item>  
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>Archived</ion-label>
            <ion-checkbox [(ngModel)]="archivedTab" (click)="showArchived()"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </ion-toolbar>
</ion-header>

<ion-content>
  
<div *ngIf="currentArchived">
  <div *ngFor="let item of myDeals">
    <ion-card *ngIf="(today | date:'dd/MM/yyyy') <= (item.bookedDate | date:'dd/MM/yyyy')">
      <!-- <img src="img/advance-card-map-madison.png"> -->
      <div style="width:100%; height:auto; background:lightgrey; overflow:hidden">
        <img width="100%" src="{{item.logoUrl}}" alt="Restaurant interior image">
      </div>
        <ion-grid>
          <ion-row>
            <ion-col col-10>
                <h1 text-center>{{item.dealName}}</h1>
                <p text-center>{{item.area}}</p>
                <p text-center>
                  <strong>{{item.dealDesc}}</strong>
                </p>
                <p style="margin-top: 40px;">
                  Booked for <span style="color:red;">{{item.bookedDate | date:'dd/MM/yyyy'}}</span>
                </p>
            </ion-col>
            <ion-col col-2>
              <button ion-button clear float-right large>
                <ion-icon name="alarm" icon-end large (click)="ratePlace()"></ion-icon>
              </button><br>
              <button ion-button clear float-right large>
                <ion-icon name="star" icon-end large (click)="ratePlace()"></ion-icon>
              </button>
              <button ion-button clear float-right large (click)="showAlert('call', item.phone)">
                <ion-icon name="call" icon-end large></ion-icon>
              </button>
            </ion-col>
          </ion-row>  
        </ion-grid>
      <ion-item>
        <button ion-button icon-left full>
          <ion-icon name="navigate"></ion-icon>
          Directions
        </button>
      </ion-item>
    </ion-card>
  </div>
</div>

<div *ngIf="!currentArchived">   
  
   
  <ion-card *ngFor="let item of myDeals">    
    <!-- <img src="img/advance-card-map-madison.png"> -->
    <div style="width:100%; height:auto; background:lightgrey; overflow:hidden">
      <img width="100%" src="/assets/imgs/restaurant_inside.jpg" alt="Restaurant interior image">
    </div>
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <h1 text-center>{{item.dealName}}</h1>
          <p text-center>{{item.area}}</p>
          <p text-center>
            <strong>{{item.dealDesc}}</strong>
          </p>
          <p style="margin-top: 40px;">
            Booked for <span style="color:red;">{{item.bookedDate | date:'dd/MM/yyyy'}}</span>
          </p>
        </ion-col>
        <ion-col col-2>
          <button ion-button clear float-right large>
            <ion-icon name="alarm" icon-end large (click)="ratePlace()"></ion-icon>
          </button><br>
          <button ion-button clear float-right large>
            <ion-icon name="star" icon-end large (click)="ratePlace()"></ion-icon>
          </button>
          <button ion-button clear float-right large (click)="ratePlace()">
            <ion-icon name="call" icon-end large></ion-icon>
          </button>
        </ion-col>
      </ion-row>
            
    </ion-grid>
          
    <ion-item>
      <button ion-button icon-left full>
        <ion-icon name="navigate"></ion-icon>
        Directions
      </button>
    </ion-item>      
  </ion-card>
</div>

  
  
</ion-content>
